.navbar-custom .nav li a:hover 
{
	color: navy;
}

header.intro 
{
    background-position: center;
    color: maroon;
}

.intro .intro-body .container .brand-heading 
{
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
}    

.intro .intro-body .container div#heading
{
    margin-top: 240px;
}

.intro .intro-text
{
    color: white;
}

.intro .btn-circle
{
    border: 2px solid navy;
}

.intro a i 
{
    color: white;
}

@media only screen and (min-width: 0px)
{
    .intro .brand-heading 
    {
        border-top: 2px solid navy;
        border-bottom: 2px solid navy;
    }    
}